.ranking {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    text-transform: uppercase;
    text-align: center;
    width: 10em;
}

form button {
    margin-top: 0.5em;
    min-width: 10em;
}

.form-control {
    border-radius: 10px;
    min-height: 5vh;
    font-size: 5vw;
    font-family: 'Segoe UI' sans-serif;
    font-weight: bold;
}